<head>
  <meta charset="utf-8">
  <title>Confirmation Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <style>
    html, body {
      width: 100%;
      margin: 0;
    }
    main {
      max-width: 500px;
    }
    input {
      width: 100%;
    }
  </style>
</head>
<body>
  <h1>Dialog component demo</h1>
  <main>
    <fieldset>
      <legend>Dialog title</legend>
      <input value="Confirmation">
    </fieldset>
    <fieldset>
      <legend>Dialog message</legend>
      <input value="Are you sure you want to continue?">
    </fieldset>
    <button>Click me</button>
    <div>
      <output></output>
    </div>
  </main>
  <script type="module">
    import { Application } from './index.js';

    const [titleInput, messageInput] = document.querySelectorAll('input');
    const output = document.querySelector('output');

    document.querySelector('button').addEventListener('click', () => {
      Application.default.confirm(
        messageInput.value,
        titleInput.value,
        (action) => {
          output.value = `You just clicked "${action}"`;
        }
      )
    });
  </script>
</body>